@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');


.product {
    width: 100%;
    justify-content: center;
    text-align: left;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    color: #111827;
}

.wrapper {
    max-width: 1200px;
    width: 90%;
    margin-inline: auto;
  }

.br {
    border-bottom: 1px solid #4b556361;
}

.product_top {
    display: flex;
    gap: 40px;
    padding: 30px 0px;
}


.product_zoom_mobile{
    display: none;
}

.product_top h1 {
    font-size: 38px;
    margin: 0px 0px 10px 0px;
    text-align: left;

}

.product_top p {
    color: #4B5563;
    font-size: 14px;

}

.product_buy {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 10px;
}

.product_counter {
    display: flex;
    gap: 5px;
    height: fit-content;
    align-items: center;
    border-radius: 7px;
    border: 1px solid #212529;


}

.product_counter button {
    padding: 14px 18px;
    border-radius: 7px;
    border: none;
    cursor: pointer;
    background: none;
    color: #111827;
}


.product_button {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    box-sizing: border-box;
    font-size: 14px;
    color: #fff;
    min-width: 160px;
    width: fit-content;
    font-size: 14px;
    color: #fff;
    padding: 14px 18px;
    margin-block: 10px;
    text-align: center;
    border-radius: 7px;
    background: #16A34A;


}

.product_button.black {
    background: #212529 !important;
}


.payment_description div {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid #4b556361;
    padding: 0px 15px;
    color: #6b7280;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;

}

.payment_description div:last-child {
    margin-bottom: 20px;
    border-top: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;

}



.payment_icon_div {
    border: none !important;
}



.product_wishlist {
    display: flex;
    align-items: center;
    gap: 25px;
}

.product_wishlist div {
    display: flex;
    align-items: center;
    gap: 8px;
}

.product_wishlist_button {
    padding: 12px 12px;
    border-radius: 7px;
    background: none;
    border: 1px solid #4b556357;
    cursor: pointer;
    color: #111827;
}

.product_wishlist_button:hover {
    background: #4b55630f;

}

.product_wishlist div span {
    font-size: 13px;
    width: fit-content;
    white-space: nowrap;
}



@media all and (max-width:992px){
    .product_top{
        flex-direction: column;
    }
    .product_zoom{
        display: none;
    }
    .product_zoom_mobile{
        display: block;
    }
}

@media all and (max-width: 768px) {
    .product_top h1{
        font-size: 30px;
    }

    .product_button{
        min-width: 150px;
    }

    .product_wishlist{
        gap: 15px;
    }
    
}