.login{
    display: flex;
    align-items: center !important;
    margin-block: auto;
}

.login_left {
    height: 100vh;
    width: 50%;
    background-image: url('../../../assets/images/authentication/login_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.login_right{
    width: 30%;
    margin-inline: auto;
    background: #76737321;
    padding: 32px 32px;
    border-radius: 7px;

}

h1 {
    text-align: center;
    color: #333;
}

.form-group {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    color: #666;
    border: 1px solid #ccc;
    padding: 5px 15px 5px 5px;
    border-radius: 7px;
    background: #fff;
}
.form-group:focus-within{
    outline: 2px solid #634c9f;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    border-radius: 3px;
    box-sizing: border-box;
    border: none;
    outline: none;
}

button {
    width: 50%; 
    padding: 10px;
    background-color: #634c9f;
    color: #fff;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

button:hover {
    background-color: #644c9fea;
}

@media only screen and (max-width: 992px) {

    
.login_left {
    display: none;
}

.login_right{
    width: 50%;
    margin-inline: auto;
    background: #76737321;
    padding: 32px 32px;
    border-radius: 7px;
    margin-block: 50px;

}

}
