.card_container {
    background: #FFF;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr)); /* Changed min width to 1fr */
    border: 1px solid #6b72804f;
    border-radius: 7px;
    margin-bottom: 20px;
}

.card {
    text-align: left;
    padding: 15px;
    box-sizing: border-box;
    border-bottom: 1px solid #6b72804f;
    border-right: 1px solid #6b72804f;
}



.card a {
    color: #111827;
}

.card a .card_name {
    font-size: 13px;
    font-weight: 600;
}

.card_img {
    display: block;
    margin-bottom: 10px;
    border-bottom: 1px solid #6b72804f;
}

.card_rating {
    display: flex;
    align-items: center;
    margin-top: 10px;
    gap: 5px;
    color: #4B5563;
}

.card_rating_value {
    font-size: 13px;
    border: 1px solid #6b72804f;
    padding: 1px 5px;
    border-radius: 3px;
}

.card_price {
    margin-block: 10px;
}

.card_price span:first-child {
    font-size: 22px;
    font-weight: 600;
    color: #dc2626;
    margin-right: 10px;
}

.card_price span:last-child {
    font-size: 14px;
    text-decoration: line-through #dc2626;
}

.card_cart {
    display: flex;
    align-items: center;
    margin-block: 10px;
}

.card_cart span:first-child {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    border-radius: 7px;
    background: green;
    color: #fff;
    margin-right: 15px;
}

.card_cart span:last-child {
    color: green;
    font-weight: 600;
    font-size: 12px;
}

/* Media query for responsiveness */
@media only screen and (max-width: 768px) {
    .card_container {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Adjust the minimum width */
    }
}
