*{
  padding: 0px;
}

.App {
  text-align: center;
  font-family: sans-serif;
  min-width: 480px;

}
.wrapper {
  max-width: 1200px;
  width: 90%;
  margin-inline: auto;
}

ul{
  list-style: none;
}
a{
  text-decoration: none;
}
img{
  width: 100%;
  display: block;
}

.flexx{
  display: flex;
  flex: 1;
}


